<h2 style="text-align: center"> SIDE BAR</h2>
<div class="parent-div">
    <div class="api-panel">
      <div class="api-column">
        Visibility
        <button (click)="setSideBarVisible(true)">
          setSideBarVisible(true)
        </button>
        <button (click)="setSideBarVisible(false)">
          setSideBarVisible(false)
        </button>
        <button (click)="isSideBarVisible()">isSideBarVisible()</button>
      </div>
      <div class="api-column">
        Open &amp; Close
        <button (click)="openToolPanel('columns')">
          openToolPanel('columns')
        </button>
        <button (click)="openToolPanel('filters')">
          openToolPanel('filters')
        </button>
        <button (click)="closeToolPanel()">closeToolPanel()</button>
        <button (click)="getOpenedToolPanel()">getOpenedToolPanel()</button>
      </div>
      <div class="api-column">
        Reset
        <button (click)="setSideBar(['filters', 'columns'])">
          setSideBar(['filters','columns'])
        </button>
        <button (click)="setSideBar('columns')">setSideBar('columns')</button>
        <button (click)="getSideBar()">getSideBar()</button>
      </div>
      <div class="api-column">
        Position
        <button (click)="setSideBarPosition('left')">
          setSideBarPosition('left')
        </button>
        <button (click)="setSideBarPosition('right')">
          setSideBarPosition('right')
        </button>
      </div>
    </div>

    <ag-grid-angular
      style="width: 100%; height: 70%;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [sideBar]="sideBar"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>